* {
  color: #000;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  position: relative;
  right: -12%;
  text-align: center;
}

header {
  width: 100%;
  display: flex;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
  padding-left: 30px;
  padding-right: 20px;
}

nav h2 {
  position: static;
  flex: 1 1;
  display: flex;
  justify-content: flex-start;
}
nav ul {
  display: flex;
  flex: 2 1;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

nav ul li {
  list-style-type: none;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: inherit;
}

nav ul li a{
  text-decoration: none;
  font-size: 20px;
}

nav ul li hr {
  width: 2px;
  height:70%;
  background-color: black;
  margin-left: 1rem;
}

#list {
  display: flex;
  width: 550px;
  border: 3px solid;
  padding: 20px;
  padding-top: 0;
}

#booklist {
  word-spacing: 10px;
  padding: 0;
}

#booklist li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  width: 590px;
  height: 25px;
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

legend {
  margin-left: 240px;
  font-size: 30px;
  font-weight: 600;
}

#booklist :nth-of-type(odd) {
  background-color: #ddd;
}

button {
  background-color: white !important;
  height: 30px;
  margin-bottom: 20px;
  position: relative;
  bottom: 6px;
  box-shadow: 5px 5px black;
  border: 4px solid black;
}

#add-new {
  width: 390px;
  display: flex;
  flex-direction: column;
  margin-left: -6%;
  align-items: center;
}

.form {
  border: 4px solid black;
  margin-left: 90px;
}

#btnAdd {
  margin-left: 53%;
  margin-top: 10px;
  width: 15%;
}
